<div class="input">
  <h1>Poster Designer</h1>
</br>

<!-- title -->
<input type="text" ng-model="title">
<label style="display: inline">hide:</label>
<input  class="checkbox" type="checkbox" ng-model="titleValue" ng-true-value="hidden" ng-false-value="">&nbsp;
<label style="display: inline">font size:</label>
<input class="number" type="number" min="0" ng-model="titleSize" placeholder="#">
&nbsp;
<label style="display: inline">Right +, Left -:</label>
<input class="number" type="number" step="10" ng-model="titleLeft" placeholder="#">
&nbsp;
<label style="display: inline">up +, down -:</label>
<input class="number" type="number" step="10" ng-model="titleUp" placeholder="#">
&nbsp;
<label style="display: inline">Color:</label>
<input class="color" type="color" name="favcolor" ng-model="titleColor">
<button class="btn btn-primary" ng-click="titleColor = nil">reset color</button>
</br>



<!-- at -->
<input type="text" ng-model="at">
<label style="display: inline">hide</label>
<input class="checkbox" type="checkbox" ng-model="atValue" ng-true-value="hidden" ng-false-value="visible">
&nbsp;
<label style="display: inline">font size:</label>
<input class="number" type="number" ng-model="atSize" placeholder="#">
&nbsp;
<label style="display: inline">Right +, Left -:</label>
<input class="number" type="number" step="10" ng-model="atLeft" placeholder="#">
&nbsp;
<label style="display: inline">up +, down -:</label>
<input class="number" type="number" step="10" ng-model="atUp" placeholder="#">
&nbsp;
<label style="display: inline">Color:</label>
<input class="color" type="color" name="favcolor" ng-model="atColor">
<button class="btn btn-primary" ng-click="atColor = nil">reset color</button>
</br>




<!-- venue -->
<input type="text" ng-model="venue">
<label style="display: inline">hide</label>
<input class="checkbox" type="checkbox" ng-model="venueValue" ng-true-value="hidden" ng-false-value="visible">
&nbsp;
<label style="display: inline">font size:</label>
<input class="number" type="number" ng-model="venueSize" placeholder="#">
&nbsp;
<label style="display: inline">Right +, Left -:</label>
<input class="number" type="number" step="10" ng-model="venueLeft" placeholder="#">
&nbsp;
<label style="display: inline">up +, down -:</label>
<input class="number" type="number" step="10" ng-model="venueUp" placeholder="#">
&nbsp;
<label style="display: inline">Color:</label>
<input class="color" type="color" name="favcolor" ng-model="venueColor">
<button class="btn btn-primary" ng-click="venueColor = nil">reset color</button>
</br>



<!-- date -->
<input type="text" ng-model="date">
<label style="display: inline">hide</label>
<input class="checkbox" type="checkbox" ng-model="dateValue" ng-true-value="hidden" ng-false-value="visible">
&nbsp;
<label style="display: inline">font size:</label>
<input class="number" type="number" ng-model="dateSize" placeholder="#">
&nbsp;
<label style="display: inline">Right +, Left -:</label>
<input class="number" type="number" step="10" ng-model="dateLeft" placeholder="#">
&nbsp;
<label style="display: inline">up +, down -:</label>
<input class="number" type="number" step="10" ng-model="dateUp" placeholder="#">
&nbsp;
<label style="display: inline">Color:</label>
<input class="color" type="color" name="favcolor" ng-model="dateColor">
<button class="btn btn-primary" ng-click="dateColor = nil">reset color</button>
</br>



<!-- time -->
<input type="text" ng-model="time">
<label style="display: inline">hide</label>
<input class="checkbox" type="checkbox" ng-model="timeValue" ng-true-value="hidden" ng-false-value="visible">
&nbsp;
<label style="display: inline">font size:</label>
<input class="number" type="number" ng-model="timeSize" placeholder="#">
&nbsp;
<label style="display: inline">Right +, Left -:</label>
<input class="number" type="number" step="10" ng-model="timeLeft" placeholder="#">
&nbsp;
<label style="display: inline">up +, down -:</label>
<input class="number" type="number" step="10" ng-model="timeUp" placeholder="#">
&nbsp;
<label style="display: inline">Color:</label>
<input class="color" type="color" name="favcolor" ng-model="timeColor">
<button class="btn btn-primary" ng-click="timeColor = nil">reset color</button>
</br>



<!-- description -->
<input type="text" ng-model="description">
<label style="display: inline">hide</label>
<input class="checkbox" type="checkbox" ng-model="descriptionValue" ng-true-value="hidden" ng-false-value="visible">
&nbsp;
<label style="display: inline">font size:</label>
<input class="number" type="number" ng-model="descriptionSize" placeholder="#">
&nbsp;
<label style="display: inline">Right +, Left -:</label>
<input class="number" type="number" step="10" ng-model="descriptionLeft" placeholder="#">
&nbsp;
<label style="display: inline">up +, down -:</label>
<input class="number" type="number" step="10" ng-model="descriptionUp" placeholder="#">
&nbsp;
<label style="display: inline">Color:</label>
<input class="color" type="color" name="favcolor" ng-model="descriptionColor">
<button class="btn btn-primary" ng-click="descriptionColor = nil">reset color</button>
</br>



<!-- organizer -->
<input type="text" ng-model="organizer">
<label style="display: inline">hide</label>
<input class="checkbox" type="checkbox" ng-model="organizerValue" ng-true-value="hidden" ng-false-value="visible">
&nbsp;
<label style="display: inline">font size:</label>
<input class="number" type="number" ng-model="organizerSize" placeholder="#">
&nbsp;
<label style="display: inline">Right +, Left -:</label>
<input class="number" type="number" step="10" ng-model="organizerLeft" placeholder="#">
&nbsp;
<label style="display: inline">up +, down -:</label>
<input class="number" type="number" step="10" ng-model="organizerUp" placeholder="#">
&nbsp;
<label style="display: inline">Color:</label>
<input class="color" type="color" name="favcolor" ng-model="organizerColor">
<button class="btn btn-primary" ng-click="organizerColor = nil">reset color</button>
</br>
<button class="btn btn-primary" ng-click="change()">reset all css fields</button>
</div>
  <carousel>
    <slide ng-repeat="slide in slides" style="text-align:center;" active="slide.active">
      <div ng-class="slide.image" style="margin:auto;height: 672px; width: 560px">
        <div>
          <div id="title" style="visibility:{{titleValue}}; font-size:{{titleSize}}em; margin-left: {{titleLeft}}px; padding-top: {{titleUp}}px; color: {{titleColor}};">{{title}}
          </div>
          <div id="at" style="visibility:{{atValue}};font-size:{{atSize}}em; margin-left: {{atLeft}}px; margin-top: {{atUp}}px; color: {{atColor}};">{{at}}
          </div>
          <div id="venue" style="visibility:{{venueValue}};font-size:{{venueSize}}em; margin-left: {{venueLeft}}px; margin-top: {{venueUp}}px; color: {{venueColor}};">{{venue}}
          </div>
          <div id="date" style="visibility:{{dateValue}};font-size:{{dateSize}}em; margin-left: {{dateLeft}}px; margin-top: {{dateUp}}px; color: {{dateColor}};">{{date}}
          </div>
          <div id="img"></div>
          <div id="time" style="visibility:{{timeValue}};font-size:{{timeSize}}em; margin-left: {{timeLeft}}px; margin-top: {{timeUp}}px; color: {{timeColor}};">{{time}}
          </div>
          <div id="description" style="visibility:{{descriptionValue}};font-size:{{descriptionSize}}em; margin-left: {{descriptionLeft}}px; margin-top: {{descriptionUp}}px; color: {{descriptionColor}};">{{description}}
          </div>
          <div id="organizer" style="visibility:{{organizerValue}};font-size:{{organizerSize}}em; margin-left: {{organizerLeft}}px; margin-top: {{organizerUp}}px; color: {{organizerColor}};">{{organizer}}
          </div>
        </div>
      </div>
    </slide>
  </carousel>
</div>



